# default owners for anything not listed below, such as README and CI workflows
* @krivard @capnrefsmmat

# covidcast R package and data generation
/R-packages/covidcast/ @capnrefsmmat @statsmaths
/R-packages/data-raw/ @capnrefsmmat  @statsmaths

# evalcast R package
/R-packages/evalcast/ @nmdefries @brookslogan @dshemetov

# modeltools R package
/R-packages/modeltools/ @huisaddison @dajmcdon

# covidcast Python package
/Python-packages/covidcast-py/ @chinandrew @capnrefsmmat @statsmaths

# notebooks
/R-notebooks/  @capolitsch @krivard 

# documentation changes go live instantly on GitHub.io, and hence require their
# own review
/docs/  @capnrefsmmat @statsmaths
